.button {
    background: $white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 10px solid $black;
    font-family: 'Rammetto One', cursive;
    text-transform: uppercase;
    margin: 0 20px;
    transition: .3s ease;
}


.start-button:hover {
    border-color: $hover-color;
}

.button-container {
    display: flex;
}

.play-again-button:hover {
    border-color: $hover-color;
}

.defuse-button {
    border-color: limegreen;
}

.explosion-button {
    border-color: $hover-color;
}

.defuse-button:hover {
    border-color: $hover-color;
}

.explosion-button:hover {
    border-color: $hover-color;
}

@media (max-width: 350px) {
    .button {
        width: 110px;
        height: 110px;
        border: 7px solid $black;
        line-height: 1.2;
        // background: red;
    }

    .defuse-button, .explosion-button {
        border-color: $accent-color;
    }
}

