//Global styles
$heading-font: 'Rammetto One', cursive;
$body-font: 'Raleway', sans-serif;


html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: $body-font;
    color: black;
    background: linear-gradient(300deg, #bfeeff,#0072ba, #00bdff, #bfeeff);
    background-size: 600% 600%;
    animation: bombAnxiety 25s ease infinite;
    // thanks to https://www.ianforrest.me/
    @keyframes bombAnxiety {
        0%{
            background-position: 0% 50%;
        }
        50%  {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }   
}

.wrapper {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: flex-end;
    // border: 1px solid black;
}


h1, h2, h3 {
    font-family: $heading-font;
    text-transform: uppercase;
}

h1 {
    font-size: 4rem;
}

// h2 {
//     text-transform: uppercase;
// }

.number {
    font-family: $heading-font;    
    -webkit-text-stroke: 5px white;
    font-size: 70rem;
    line-height: 1;
    position: absolute;
    left: 35%;
    top: 0;
    color: rgba(68, 29, 29, 0.1);
    z-index: -1;
}

p {
    margin: 10px 0;
}

// .hide {
//     display: none;
// }
