//Global styles
$heading-font: 'Rammetto One', cursive;
$body-font: 'Raleway', sans-serif;
$accent-color: #f9f253;
$trans-accent: rgba(249,242,83,0.8); 
$hover-color: #ed1c24;
$white: ghostwhite;
$trans-white: rgba(255,250,240, 0.5);
$black: black ;

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: $body-font;
    color: $black;
    background: linear-gradient(300deg, #bfeeff,#0072ba, #00bdff, #bfeeff);
    background-size: 600% 600%;
    animation: bombAnxiety 25s ease infinite;
    @keyframes bombAnxiety {
        0%{
            background-position: 0% 50%;
        }
        50%  {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }   
}

.wrapper {
    width: 90vw;
    max-width: 1280px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

h1, h2 {
    font-size: 6rem;
    font-family: $heading-font;
    text-transform: uppercase;
     text-shadow: 
    5px 5px $accent-color, 
    6px 6px $accent-color, 
    7px 7px $accent-color, 
    8px 8px $accent-color, 
    9px 9px $accent-color,
    10px 10px $accent-color,
    11px 11px $accent-color,
    12px 12px $accent-color,
    13px 13px $accent-color,
    14px 14px $accent-color,
    15px 15px $accent-color,
    16px 16px $black;
}

h1 {
    line-height: 1.2;
}

h2 {
    line-height: 1.4;
}

.boom {
    font-family: $heading-font;
}

//Media queries
@media (max-width: 950px) {
    h2 {
        font-size: 5rem;
    }
}

@media (max-width: 775px) {
    h1 {
        font-size: 4rem;
        line-height: 1.4;
    }
    h2 {
        font-size: 4rem;
        line-height: 1.4;
    }
}

@media (max-width: 650px) {
    .wrapper {
        flex-direction: column;
        width: 100vw;
    }
}

@media (max-width: 420px) {
    h1 {
        font-size: 3.5rem;
    }
    h1, h2, {
    text-shadow: 
        1px 1px $accent-color, 
        2px 2px $accent-color, 
        3px 3px $accent-color, 
        4px 4px $accent-color, 
        5px 5px $accent-color,
        6px 6px $black;
    }
}

@media (max-width: 350px) {
    h1 {
        font-size: 2.6rem;
    }
    h2 {
        font-size: 3rem;
    }
    .boom {
        font-family: $body-font;
    }
}