html {
    font-size: 62.5%;
}
body {
    font-size: 2rem;
    color: white;
    background: linear-gradient(300deg, #b10404, #ff7b00, #53121c);
    background-size: 600% 600%;
    animation: bombAnxiety 30s ease infinite;
    // thanks to https://www.ianforrest.me/
    @keyframes bombAnxiety {
        0%{
            background-position: 0% 50%;
        }
        50%  {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }   
}

main {
    height: 100vh;
}

.wrapper {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
    padding: 50px 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

form {
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .qa-fieldset {
        width: 33%;
        display: flex;
        flex-direction: column;
        border: 1px solid yellow;
    }
}

.answers-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container {
    display: flex;
    width: 100%;
    input {
        // display:none;
    }
    label {
        // border: 1px solid black;
        width: 100%;
    }
    input[type=submit] {
        display: block;
    }
}

// input[type=radio]::checked label {
//         border: 1px solid green;
// }

.game-details {
    width: 20%;
    border: 1px solid black;
    height: 40vh;

}

h1 {
    font-family: 'Rammetto One', cursive;
    font-size: 4rem;
}

h3 {
    // font-family: 'Stalinist One', cursive;
    // font-family: 'Goblin One', cursive;
    font-family: 'Rammetto One', cursive;
    // font-family: 'Permanent Marker', cursive;
    position: relative;
    // top: -25px;
    left: 0;
    font-size: 5rem;
}
p {
    margin: 10px 0;
}

.bomb {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: -100px;
    left: -140px;
    background: black;
}

.bomb::after {
    content: '';
    height: 100px;
    width: 100px;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
}

.bomb::before {
    content: '';
    height: 60px;
    width: 30px;
    background: white;
    position: absolute;
    top: -35px;
    right: -20px;
    transform: rotate(45deg);
}

.seconds {
    // height: 100px;
    // width: 100px;
    position: absolute;
    top: calc(50% - 60px);
    right: calc(50% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.seconds p {
    color: white;
    font-size: 12rem;
    margin: 0;
}




// font-family: 'Stalinist One', cursive;
// font-family: 'Erica One', cursive;
// font-family: 'Goblin One', cursive;
// font-family: 'Bungee Shade', cursive;
// font-family: 'Rammetto One', cursive;
// font-family: 'Permanent Marker', cursive;

