//Form styles

ul {
    list-style: none;
    font-size: 2rem;
    margin: 25px 0 50px 0;;
    li {
        margin: 8px 0;
        font-weight: 600;
    }
}

form {
    // border: 2px solid white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 85%;
    text-align: center;
    .qa-fieldset {
        position: relative;
        width: 80%;
        height: 100vh;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        border: none;
    }
}

.answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question p {
    font-family: $heading-font;
    color: white;
    font-size: 4.5rem;
    font-weight: 700;
    margin-bottom: 50px;
    letter-spacing: 2px;
    line-height: 1.6;
    text-shadow: 
    5px 5px black, 
    6px 6px black, 
    7px 7px black, 
    8px 8px black, 
    9px 9px black,
    10px 10px black,
    11px 11px black,
    12px 12px black,
    13px 13px black,
    14px 14px black,
    15px 15px black,
    16px 16px $accent-color;
    // 17px 17px black,
    // 18px 18px black,
    // 19px 19px black,
    // 20px 20px black,
}

.submit {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
}
.input-container {
    display: flex;
    width: 40%;
    margin: 5px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    label {
        width: 100%;
        padding: 10px;
        margin: 5px;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        border-radius: 50px;
        background-color: floralwhite;
        box-shadow: 8px 8px black;
        transition: all .2s ease; 
        border: 1px solid transparent;
    }
}

input:focus + label {
    border: 1px solid black;
}
input[type=submit] {
    border: 5px solid transparent;
}

input[type=submit]:focus {
    border: 5px solid orchid;
}

input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 0 10px;
    color: floralwhite;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 5px 5px floralwhite;
    background: transparent;
    background-color: black;
}

input[type=radio]:checked+label {
    background: #f9f253;
    box-shadow: 4px 4px black;
}

form .hidden {
    display: none;
}

.defuse {
    z-index: 400;
    // width: 100vw;
    // background: red;
    .submit {
        display: flex;
        flex-direction: column;
    }
}

.defuse-question {
    font-size: 10rem;
    text-transform: uppercase;
    font-family: $heading-font;
    color: white;
    text-align: center;
}




// ** MOST IMPORTANT **
// WRITE GAME INSTRUCTIONS AND MODAL INSTRUCTIONS
// RESPONSIVE
// STYLE MODALS
// FONTS





// font-family: 'Erica One', cursive;
// font-family: 'Goblin One', cursive;
// font-family: 'Bungee Shade', cursive;
// font-family: 'Rammetto One', cursive;