//Form styles

form {
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .qa-fieldset {
        width: 33%;
        display: flex;
        flex-direction: column;
        border: 1px solid yellow;
    }
}

.answers-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-container {
    display: flex;
    width: 100%;
    input {
        // display:none;
    }
    label {
        // border: 1px solid black;
        width: 100%;
    }
    input[type=submit] {
        display: block;
    }
}

// input[type=radio]::checked label {
//         border: 1px solid green;
// }

.game-details {
    width: 20%;
    border: 1px solid black;
    height: 40vh;

}








// font-family: 'Stalinist One', cursive;
// font-family: 'Erica One', cursive;
// font-family: 'Goblin One', cursive;
// font-family: 'Bungee Shade', cursive;
// font-family: 'Rammetto One', cursive;