.modal {
    width: 70vw;
    height: 70vh;
    padding: 100px;
    background: white;
    position: fixed;
    z-index: 450;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 15px solid black;
    border-radius: 50px;
    color: black;
    text-align: center;
}

.modal-content {
    border: 1px solid red;
    padding: 50px;
}