.modal {
    width: 90vw;
    min-height: 90vh;
    padding: 40px 100px;
    background: $white;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 15px solid $black;
    border-radius: 50px;
    color: $black;
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    p {
        font-size: 1.8rem;
        line-height: 1.3;
        font-weight: bold;
        margin: 50px 0;
    }
}

.start-modal {
    z-index: 550;
}

.winning-modal {
    z-index: 450;
}

ul {
    font-size: 2rem;
    margin: 25px 0 50px 0;;
    li {
        margin: 8px 0;
        font-weight: 600;
    }
}

select {
   margin: 10px;
   width: 250px;
   padding: 10px 5px;
   font-size: 1.8rem;
   border: 10px solid $black;
   border-radius: 40px;
   appearance: none;
   text-align: center;
   transition: .3s ease;
   background: $white;
   &:hover {
       border-color: $hover-color;
       cursor: pointer;
   }
}

//dropdown for IE
select::-ms-expand {
   display: none;
}

.select-container {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.select label {
    display: block;
    font-family: 'Rammetto One', cursive;
    font-size: 2.4rem;
}

.hidden {
    display: none;
}

//Media Queries
@media (max-width: 1040px) {
    .modal {
        padding: 20px 50px;
    }
}

@media (max-width: 775px) {
    ul {
        font-size: 1.8rem;
    }

}

@media (max-width: 768px) {
    .select-container {
        flex-direction: column;
        margin-bottom: 25px;
    }

    ul {
        margin-bottom: 25px;
    }

    .modal {
        width: 100vw;
        min-height: 100vh;
        border: none;
        border-radius: 0;
        padding: 20px 20px;
    }  

    .select label {
        width: 100vw;
        padding: 10px 5px;
        font-size: 1.8rem;
        background: $trans-accent;
    }

    select {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $black;
        width: 100vw;
        margin: 0;
        &:hover {
            border-color: $black;
        }
    }

    .select-category {
        border-top: 1px solid $black;
    }
}

@media (max-width: 350px) {
    ul {
        font-size: 1.6rem;
        margin: 25px 0 25px 0;;
    }

    .select label {
        font-size: 1.6rem;
    }

    select {
        font-size: 1.6rem;
    }
}