/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/* /END GENERAL STYLING */
html {
  font-size: 62.5%; }

body {
  font-family: 'Raleway', sans-serif;
  color: black;
  background: -webkit-linear-gradient(150deg, #bfeeff, #0072ba, #00bdff, #bfeeff);
  background: -o-linear-gradient(150deg, #bfeeff, #0072ba, #00bdff, #bfeeff);
  background: linear-gradient(300deg, #bfeeff, #0072ba, #00bdff, #bfeeff);
  background-size: 600% 600%;
  -webkit-animation: bombAnxiety 25s ease infinite;
  animation: bombAnxiety 25s ease infinite; }

@-webkit-keyframes bombAnxiety {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes bombAnxiety {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.wrapper {
  width: 90vw;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 4rem; }

h3 {
  font-family: 'Rammetto One', cursive;
  -webkit-text-stroke: 5px white;
  font-size: 50rem;
  line-height: 1;
  position: absolute;
  left: -40px;
  top: -20px;
  color: rgba(0, 0, 0, 0.1);
  z-index: -1; }

p {
  margin: 10px 0; }

.hide {
  display: none; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 85%;
  text-align: center; }
  form .qa-fieldset {
    position: relative;
    width: 80%;
    height: 100vh;
    padding-top: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: none; }

.answers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.question p {
  font-size: 3rem;
  font-weight: 700; }

.submit {
  width: 100%;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  margin: 5px; }
  .input-container input {
    opacity: 0;
    width: 0;
    height: 0; }
  .input-container label {
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 50px;
    background-color: floralwhite;
    -webkit-box-shadow: 8px 8px black;
    box-shadow: 8px 8px black;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border: 1px solid transparent; }

input:focus + label {
  border: 1px solid black; }

input[type=submit] {
  border: 5px solid transparent; }

input[type=submit]:focus {
  border: 5px solid orchid; }

input[type=submit] {
  width: 100%;
  padding: 15px;
  margin: 0 10px;
  color: floralwhite;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px floralwhite;
  box-shadow: 5px 5px floralwhite;
  background: transparent;
  background-color: black; }

input[type=radio]:checked + label {
  background: #f9f253;
  -webkit-box-shadow: 4px 4px black;
  box-shadow: 4px 4px black; }

form .hidden {
  display: none; }

.defuse {
  z-index: 400;
  width: 100vw;
  background: darkgrey;
  color: red;
  font-size: 20rem; }

.bomb-container {
  position: fixed;
  bottom: -110px;
  left: -50px;
  z-index: 500; }

.bomb {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  position: relative;
  background: black;
  display: block;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.bomb::after {
  content: '';
  height: 50px;
  width: 100px;
  background: black;
  position: absolute;
  top: -20px;
  right: 115px;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg); }

.bomb::before {
  content: '';
  height: 60px;
  width: 30px;
  background: white;
  position: absolute;
  top: -65px;
  right: 135px;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  border: 1px solid lightgrey; }

.bomb-slow-shake {
  -webkit-animation: shake 2s infinite;
  animation: shake 2s infinite; }

.bomb-explode {
  -webkit-animation: explode .6s;
  animation: explode .6s; }

.seconds {
  position: absolute;
  top: 25%;
  left: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.seconds p {
  color: white;
  font-size: 7rem;
  margin: 0;
  font-family: 'Rammetto One', cursive; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  4% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  8% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  12% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  15% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  18% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  21% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  24% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  28% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  32% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  36% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  40% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  44% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  48% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  52% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  56% {
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1); }
  85% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); }
  94% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes shake {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  4% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  8% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  12% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  15% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  18% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  21% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  24% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  28% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  32% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  36% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  40% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  44% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  48% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  52% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  56% {
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1); }
  85% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); }
  94% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes explode {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); }
  20% {
    background: red; }
  40% {
    background: yellow; }
  60% {
    background: orange; }
  80% {
    background: red; }
  100% {
    -webkit-transform: scale(10);
    transform: scale(10); } }

@keyframes explode {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); }
  20% {
    background: red; }
  40% {
    background: yellow; }
  60% {
    background: orange; }
  80% {
    background: red; }
  100% {
    -webkit-transform: scale(10);
    transform: scale(10); } }

.modal {
  width: 70vw;
  height: 70vh;
  padding: 100px;
  background: white;
  position: fixed;
  z-index: 450;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border: 15px solid black;
  border-radius: 50px;
  color: black;
  text-align: center; }

.modal-content {
  border: 1px solid red;
  padding: 50px; }

select {
  margin: 10px;
  width: 250px;
  padding: 5px 35px 5px 5px;
  font-size: 1.8rem;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }
