/* GENERAL STYLING */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%;
  display: block; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

/* /END GENERAL STYLING */
html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  color: white;
  background: -webkit-linear-gradient(150deg, #b10404, #ff7b00, #53121c);
  background: -o-linear-gradient(150deg, #b10404, #ff7b00, #53121c);
  background: linear-gradient(300deg, #b10404, #ff7b00, #53121c);
  background-size: 600% 600%;
  -webkit-animation: bombAnxiety 30s ease infinite;
  animation: bombAnxiety 30s ease infinite; }

@-webkit-keyframes bombAnxiety {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes bombAnxiety {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

main {
  height: 100vh; }

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  padding: 50px 0; }

h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 4rem; }

h3 {
  font-family: 'Rammetto One', cursive;
  position: relative;
  left: 0;
  font-size: 5rem; }

p {
  margin: 10px 0; }

.hide {
  display: none; }

form {
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  form .qa-fieldset {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid yellow; }

.answers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .input-container label {
    width: 100%; }
  .input-container input[type=submit] {
    display: block; }

.game-details {
  width: 20%;
  border: 1px solid black;
  height: 40vh; }

.bomb {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  background: black;
  display: block; }

.bomb::after {
  content: '';
  height: 100px;
  width: 100px;
  background: black;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.bomb::before {
  content: '';
  height: 60px;
  width: 30px;
  background: white;
  position: absolute;
  top: -35px;
  right: -20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.bomb-slow-shake {
  -webkit-animation: shake 2s infinite;
  animation: shake 2s infinite; }

.bomb-fast-shake {
  -webkit-animation: shake 0.8s;
  animation: shake 0.8s; }

.seconds {
  position: absolute;
  top: calc(50% - 60px);
  right: calc(50% - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.seconds p {
  color: white;
  font-size: 12rem;
  margin: 0; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  4% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  8% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  12% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  15% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  18% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  21% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  24% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  28% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  32% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  36% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  40% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  44% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  48% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  52% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  56% {
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1); }
  85% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); }
  94% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes shake {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  4% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  8% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  12% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  15% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  18% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  21% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  24% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  28% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  32% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  36% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  40% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  44% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  48% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  52% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px); }
  56% {
    -webkit-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1); }
  85% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); }
  94% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.modal {
  width: 75vw;
  height: 75vh;
  padding: 25px;
  background: white;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border: 5px solid black;
  color: black;
  text-align: center; }
